@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-amazon: #131921;
  --color-amazon-light: #232f3e;
  --color-amazon-background: #e3e6e6;
  --color-amazon-text: #333333;
  --color-amazon-blue: #007185;
  --color-amazon-orange: #c7511f;
  --color-amazon-yellow: #ffd814;
  --color-amazon-yellow_hover: #f7ca00;
  --color-amazon-secondary: #ffa41c;
  --color-amazon-secondary_hover: #fa8900;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

